<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/odds_db?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">odds_admin</property>
    <property name="hibernate.connection.password">finalyear2013</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="org/odds/hibernate/entities/UserSettings.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/UserRole.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/Address.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/NewsCategory.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/DonationMoney.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/Receipt.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/UserContact.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/Feedback.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/News.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/OrphanageContact.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/DonationItem.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/DonationCategory.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/Record.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/DonationReceipt.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/Orphanage.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/OrphanageAddress.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/User.hbm.xml"/>
    <mapping resource="org/odds/hibernate/entities/Children.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
